.success{
    color: green;
}
.error{
    color: red;
}

div.process_message{
    display: block;
    position: fixed;
    top: 0;
    left: 50%;
    width: 500px;
    margin: 0 0 0 -250px;
    padding: 15px;
    text-align: center;
    line-height: 26px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}
div.process_message img{
    width: 16px;
    float: right;
    margin-left: 20px;
}
div.process_message.hide{
    display: none;
}
div.process_message.success{
    border: 1px solid green;
}
div.process_message.error{
    border: 1px solid red;
}

.empty{
    border-color: #ff6600;
}
.invalid{
    border-color: #0066ff;
}

ul.menu li.menu_date{
    padding: 4px;
    background-color: #eee;
    text-align: center;
}
ul.menu li.selected, 
ul.menu li.selected a{
    background-color: #eef;
}